<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head :: head"></head>

<body class="bg-theme bg-theme2">

<!-- Start wrapper-->

    <!--Start sidebar-wrapper-->
    <div th:replace="admin/fragments/sidebar :: sidebar"></div>
    <!--End sidebar-wrapper-->

    <!--Start topbar header-->
    <header th:replace="admin/fragments/header :: header"></header>
    <!--End topbar header-->

    <div class="clearfix"></div>
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row pt-2 pb-2">
                <div class="col-sm-9"><h4 class="page-title">View Message</h4></div>
                <div class="col-sm-3">
                    <a th:href="@{/admin/contacts}" class="btn btn-light float-sm-right">Back to Inbox</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Subject: <span th:text="${contact.subject}"></span></h5>
                            <p><strong>From:</strong> <span th:text="${contact.fullName}"></span> (<span th:text="${contact.email}"></span>)</p>
                            <p><strong>Received:</strong> <span th:text="${#temporals.format(contact.sentAt, 'dd/MM/yyyy HH:mm')}"></span></p>
                            <hr>
                            <pre style="white-space: pre-wrap; font-family: inherit; color: #FFFFFF;" th:text="${contact.message}">Message content...</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--Start footer-->
<footer th:replace="admin/fragments/footer :: footer"></footer>
<!--End footer-->

<!-- Bootstrap core JavaScript-->
<div th:replace="admin/fragments/script :: script"></div>

<form th:action="@{/logout}" method="post" id="logoutForm" style="display: none;"></form>
</body>
</html>
