<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{admin/fragments/head :: head}"></head>

<body class="bg-theme bg-theme2">
    <div th:replace="~{admin/fragments/sidebar :: sidebar}"></div>
    <header th:replace="~{admin/fragments/header :: header}"></header>
    <div class="clearfix"></div>

    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row pt-2 pb-2">
                <div class="col-sm-9"><h4 class="page-title">Payment Transaction Log</h4></div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Booking ID</th>
                                        <th>User</th>
                                        <th>Amount</th>
                                        <th>Transaction Code</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="p : ${paymentPage.content}">
                                        <td th:text="${p.id}">1</td>
                                        <td th:text="${p.booking?.id}">123</td>
                                        <td th:text="${p.booking?.user?.username}">...</td>
                                        <td th:text="${'$' + #numbers.formatDecimal(p.amount, 1, 2)}">...</td>
                                        <td th:text="${p.transactionCode}">...</td>
                                        <td th:text="${#temporals.format(p.paymentDate, 'dd/MM/yyyy HH:mm')}">...</td>
                                        <td>
                                            <span th:text="${p.status}"
                                                  th:classappend="${p.status == 'SUCCESS'} ? 'text-success' : 'text-danger'">
                                                SUCCESS
                                            </span>
                                        </td>
                                    </tr>
                                    <tr th:if="${paymentPage.empty}">
                                        <td colspan="7" class="text-center">No payments found.</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <nav th:if="${paymentPage.totalPages > 0}">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${paymentPage.first} ? 'disabled'">
                                <a class="page-link" th:href="@{/admin/payments(page=${paymentPage.number - 1}, size=${paymentPage.size})}"><i class="fa fa-angle-left"></i></a>
                            </li>
                            <li class="page-item" th:each="pageNumber : ${#numbers.sequence(0, paymentPage.totalPages - 1)}"
                                th:classappend="${pageNumber == paymentPage.number} ? 'active'">
                                <a class="page-link" th:href="@{/admin/payments(page=${pageNumber}, size=${paymentPage.size})}"
                                   th:text="${pageNumber + 1}"></a>
                            </li>
                            <li class="page-item" th:classappend="${paymentPage.last} ? 'disabled'">
                                <a class="page-link" th:href="@{/admin/payments(page=${paymentPage.number + 1}, size=${paymentPage.size})}"><i class="fa fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <footer th:replace="~{admin/fragments/footer :: footer}"></footer>
    <div th:replace="~{admin/fragments/script :: script}"></div>
<form th:action="@{/logout}" method="post" id="logoutForm" style="display: none;"></form>
</body>
</html>