<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head :: head"></head>

<body class="bg-theme bg-theme2">

<!-- Start wrapper-->
<div id="wrapper">

    <!--Start sidebar-wrapper-->
    <div th:replace="admin/fragments/sidebar :: sidebar"></div>
    <!--End sidebar-wrapper-->

    <!--Start topbar header-->
    <header th:replace="admin/fragments/header :: header"></header>
    <!--End topbar header-->

    <div class="clearfix"></div>
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title" th:text="${roomTypeDto.id == null} ? 'Thêm loại phòng' : 'Sửa loại phòng'">Thông tin loại phòng</div>
                        <hr>
                        <form th:action="@{/admin/room-types/save}" th:object="${roomTypeDto}" method="post">
                            <input type="hidden" th:field="*{id}">
                            <div class="form-group">
                                <label for="name">Tên</label>
                                <input type="text" class="form-control" id="name" th:field="*{name}" required>
                            </div>
                            <div class="form-group">
                                <label for="description">Mô tả</label>
                                <textarea class="form-control" id="description" th:field="*{description}" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-light px-5">Lưu</button>
                                <a th:href="@{/admin/room-types}" class="btn btn-light px-5">Hủy</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!--End content-wrapper-->
        </div>
        <!--Start Back To Top Button-->
        <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
        <!--End Back To Top Button-->

        <!--start color switcher-->
        <!--end color switcher-->

    </div><!--End wrapper-->
</div>
<!--Start footer-->
<footer th:replace="admin/fragments/footer :: footer"></footer>
<!--End footer-->

<!-- Bootstrap core JavaScript-->
<div th:replace="admin/fragments/script :: script"></div>

<form th:action="@{/logout}" method="post" id="logoutForm" style="display: none;"></form>
</body>
</html>
