<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sona | Payment Failed</title>
</head>
<body>
<header th:replace="client/fragments/header :: header"></header>

<div class="container" style="padding: 100px 0;">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Thanh toán thất bại</h4>
        <p>Giao dịch của bạn đã thất bại hoặc bị hủy. Vui lòng thử lại.</p>
        <hr>
        <a th:href="@{/my-bookings}" class="btn btn-danger">Quay lại</a>
    </div>
</div>
</body>
</html>