<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:replace="client/fragments/head :: head"></head>
<body>
<header th:replace="client/fragments/header :: header"></header>

<div class="container" style="padding: 100px 0;">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Thanh toán thành công!</h4>
        <p>Đơn đặt phòng của bạn đã được xác nhận. Cảm ơn bạn đã chọn Sona.</p>
        <hr>
        <a th:href="@{/my-bookings}" class="btn btn-primary">Xem đơn đặt phòng</a>
    </div>
</div>
<footer th:replace="client/fragments/footer :: footer"></footer>
<div th:replace="client/fragments/script :: script"></div>
</body>
</html>