<div th:fragment="script">
<script th:src="@{/dashtreme/js/jquery.min.js}"></script>
<script th:src="@{/dashtreme/js/popper.min.js}"></script>
<script th:src="@{/dashtreme/js/bootstrap.min.js}"></script>

<!-- simplebar js -->
<script th:src="@{/dashtreme/plugins/simplebar/js/simplebar.js}"></script>
<!-- sidebar-menu js -->
<script th:src="@{/dashtreme/js/sidebar-menu.js}"></script>
<!-- loader scripts -->
<script th:src="@{/dashtreme/js/jquery.loading-indicator.js}"></script>
<!-- Custom scripts -->
<script th:src="@{/dashtreme/js/app-script.js}"></script>
<!-- Chart js -->

<script th:src="@{/dashtreme/plugins/Chart.js/Chart.min.js}"></script>

<!-- Index js -->
<script th:src="@{/dashtreme/js/index.js}"></script>
</div>