<div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true" th:fragment="sidebar">
    <div class="brand-logo">
        <a th:href="@{/admin/dashboard}">
            <img th:src="@{/dashtreme/images/logo-icon.png}" class="logo-icon" alt="logo icon">
            <h5 class="logo-text">Sona Admin</h5>
        </a>
    </div>
    <ul class="sidebar-menu do-nicescrol">
        <li class="sidebar-header">MAIN NAVIGATION</li>
        <li>
            <a th:href="@{/admin/dashboard}">
                <i class="zmdi zmdi-view-dashboard"></i> <span>Dashboard</span>
            </a>
        </li>

        <li>
            <a th:href="@{/admin/room-types}">
                <i class="zmdi zmdi-view-list"></i> <span>Room Type Management</span>
            </a>
        </li>

        <li>
            <a th:href="@{/admin/rooms}">
                <i class="zmdi zmdi-hotel"></i> <span>Room Management</span>
            </a>
        </li>

        <li>
            <a th:href="@{/admin/bookings}">
                <i class="zmdi zmdi-book"></i> <span>Bookings</span>
            </a>
        </li>

        <li>
            <a th:href="@{/admin/services}">
                <i class="zmdi zmdi-shopping-basket"></i> <span>Service Management</span>
            </a>
        </li>

        <li>
            <a th:href="@{/admin/users}">
                <i class="zmdi zmdi-face"></i> <span>User Management</span>
            </a>
        </li>

        <li>
            <a th:href="@{/admin/payments}">
                <i class="zmdi zmdi-money-box"></i> <span>Payments</span>
            </a>
        </li>

        <li>
            <a th:href="@{/admin/contacts}">
                <i class="zmdi zmdi-email"></i> <span>Contact Messages</span>
            </a>
        </li>
        <li>
            <a th:href="@{/admin/reviews}">
                <i class="zmdi zmdi-star"></i> <span>Reviews</span>
            </a>
        </li>
    </ul>

</div>